body {
    background-image: url(webim.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}
.nav-bar a:hover {
    background-color: darkgrey;
    border-radius: 2px;
}

.about-content {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.about-content h1 {
    margin-bottom: 30px;
    color: white;
    font-size: 50px;
}

.about-content h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.team-member {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-member h3 {
    margin: 0;
    font-size: 20px;
    color: black;
}

.team-member p {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: black;
}