body {
    background-image: url(webim.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-title {
    font-size: 20px;
    font-weight: bold;
    margin-right: auto;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}
.nav-bar a:hover {
    background-color: darkgrey;
    border-radius: 2px;
}
.nav-bar input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

.nav-bar button {
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.nav-bar button:hover {
    background-color: darkgray;
}

.home-content {
    padding: 20px;
    text-align: left;
    background-color: none;
    margin: 20px;
    border-radius: 8px;
}

.home-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

.home-content p {
    font-size: 18px;
    color: white;
}

#recommendations {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recommendation-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: calc(33.333% - 20px); 
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.recommendation-item:hover {
    transform: scale(1.05);
}

.recommendation-item img {
    width: 100%;
    height: auto;
}

.recommendation-item .content {
    padding: 15px;
}

.recommendation-item h3 {
    margin-top: 0;
    font-size: 1.2em;
}

.recommendation-item p {
    margin-bottom: 0;
    font-size: 1em;
}